TWITCH_CHANNEL=xqc

# config variables for aiogram/telegram-bot-api
# see https://github.com/aiogram/telegram-bot-api#configuration
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_LOCAL=true

TELEGRAM_API_URL=http://telegram-bot-api:8081
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
TELEGRAM_CHANNEL_ID=YOUR_CHANNEL_ID_OR_HANDLE
# TELEGRAM_SECOND_CHANNEL_ID= # optional: also send files as documents to this channel
TELEGRAM_UPLOAD_MODE=video # or document
GROUP_SEGMENTS=true # collect segments and send as a media group when stream ends or disk is low
# TELEGRAM_WATERMARK_TEXT= # channel_name or nothing if watermark is not needed

CHECK_INTERVAL=15
METAINFO_CHECK_INTERVAL=120
MIN_FREE_DISK_GB=2
LOG_LEVEL=INFO