TWITCH_CHANNEL=xqc
TWITCH_CLIENT_ID=YOUR_CLIENT_ID
TWITCH_CLIENT_SECRET=YOUR_CLIENT_SECRET

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
TELEGRAM_UPLOAD_MODE=video

SEGMENT_SECONDS=900
CHECK_INTERVAL=60

MIN_FREE_DISK_GB=2